services:
  pocketkid:
    image: ghcr.io/pernastefano/pocketkid:latest
    container_name: pocketkid
    env_file:
      - .env
    environment:
      - VAPID_PUBLIC_KEY=${VAPID_PUBLIC_KEY}
      - VAPID_PRIVATE_KEY=${VAPID_PRIVATE_KEY}
      - VAPID_PRIVATE_KEY_B64=${VAPID_PRIVATE_KEY_B64}
      - VAPID_SUBJECT=${VAPID_SUBJECT:-mailto:pocketkid@example.com}
    ports:
      - "8000:8000"
    volumes:
      - ./data:/app/data
      - ./locales:/app/locales
    restart: unless-stopped
